@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c0145;
  color: #e1e1e3;
}

#jumbotron {
  display: grid;
  grid-template-columns: 1fr 2fra 1fr;
  justify-items: start;
  text-align: left;
  width: 100vw;
}

.greeting {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  width: 70vw;
  padding: 25px;
  margin-top: 10vh;
  line-height: 10px;
}

h1 {
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 50px;
}

p {
  font-weight: 400;
  font-size: 20px;
}

.clapper {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: transparent;
  position: absolute;
}

.desktopImg {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: stretch;
  z-index: 0;
  padding-left: 100px;
  margin-left: 100px;
}

.popcorn {
  width: 300px;
  height: 300px;
  margin-top: -115px;
  position: absolute;
}

.card-container {
  display: grid;
  justify-items: center;
  width: 100vw;
}

.card-list {
  margin-top: 40px;

}

.card {
  max-width: 875px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #3f51b5;
  color: white;
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
}

.card--title {
  font-size: 50px;
  align-self: start;
}

.card--image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-top: 60px;
}

.card--desc {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 40px;
}

@media (max-width: 700px) {

  .input {
    max-width: 25px;
  }

  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 0;
  }

  .greeting {
    margin-top: 0;
    line-height: 25px;
  }

  h1 {
    font-size: 40px;
    line-height: 1;
  }



  .popcorn {
    visibility: hidden;
    display: none;
    height: 0;
  }



  .card {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card--content {
    
  }

}
